<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
    <body>
        <h1>Welcome to Monaco!</h1>

<form>

<label for="expr">Enter an expression:</label>
<textarea rows="4" cols="50" id="expr" name="expr">
</textarea>

<input type="checkbox" id="statistics" name="statistics" value="Statistics">
<label for="statistics">Statistics</label><br>
<input type="checkbox" id="histogram" name="histogram" value="Histogram">
<label for="histogram">Histogram</label><br>
<input type="checkbox" id="cumulative" name="cumulative" value="Cumulative">
<label for="cumulative">Cumulative</label><br>
<input type="checkbox" id="rcumulative" name="rcumulative" value="R-Cumulative">
<label for="rcumulative">R-Cumulative</label><br>
<input type="checkbox" id="percent" name="percent" value="Percent">
<label for="percent">Percent</label><br>
<input type="checkbox" id="probability" name="probability" value="Probability">
<label for="probability">Probability</label><br>

<input type="checkbox" id="exact" name="exact" value="Exact">
<label for="exact">Exact</label><br>
<input type="checkbox" id="new" name="new" value="New">
<label for="new">New</label><br>

<div id="iteration_area">
<label for="iterations">Number of iterations:</label>
<select name="iterations" id="iterations">
<option value="1">1</option>
<option value="10">10</option>
<option value="1000">1,000</option>
<option value="1000000" selected>1,000,000</option>
<option value="10000000">10,000,000</option>
<option value="other">Other</option>
</select><input type="text" id="other_iterations"><br>
</div>

<label for="other_options">Other Options</label>
<input type="text" id="other_options"><br>

<input type="submit" value="Submit"><br>
<textarea rows="30" id="out"></textarea>
<script>
  function iter_change() {
    var selectedValue = $("#iterations").children("option:selected").val();
    $("#other_iterations").toggle(selectedValue == "other");
  }
  function exact_change() {
    $("#iteration_area").toggle(!this.checked);
  }
  $("#iterations").change(iter_change);
  $("#exact").change(exact_change);
  $(document).ready(function() {
  $("form").on("submit", function() {
    console.log($(this).serialize());
    $.ajax("/monaco", {
      data: $(this).serialize(),
      type: "GET",
      dataType: "json",
    }).done(function(json) {
      console.log(json.stdout)
      $("#out").text(json.stdout)
    }).fail(function (q,s,e) {
      console.log("We have a problem! " + s + ": " + e)
    }).always(function() {
      console.log("Complete!")
    })
    return false;
  })})

  $("#iterations").trigger("change");
  $("#exact").trigger("change");

  </script>
</html>
